SERVER_API_URL=
NEXT_PUBLIC_SERVER_API_URL=

GOOGLE_CLIENT_ID=<MUST_BE_THE_SAME_AS_ONE_IN_LSCS_LINKS_WEB>
GOOGLE_CLIENT_SECRET=<MUST_BE_THE_SAME_AS_ONE_IN_LSCS_LINKS_WEB>

NEXTAUTH_URL=<FRONTEND_URL>
NEXTAUTH_SECRET=

NEXT_PUBLIC_REQUIRE_BACKEND_LOGIN=true
REQUIRE_BACKEND_LOGIN=true
